
<app-sidebar></app-sidebar>

<div class="container">
    <div class="historyhead">
        <div><h3 class="m-3"><b>Collector History</b></h3></div>
        <div>
            <button type="button" (click)="onDownload()" class="btn btn-secondary mx-3">Download File</button>
            <button type="button" (click)="onClearAll()" class="btn btn-danger">Clear all History </button>
        </div>
    </div>
    <div class="mt-3 inputs">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control " placeholder="Search Tasks...">
      
    </div>
    
    <table class="table table-hover">
        <thead>
            <th>User ID</th>
            <th>UserName</th>
            <th>Email ID</th>
            <th>Area</th>
            <th>Houses Cleaned</th>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of act">
                <td>{{i.collector.id}}</td>
                <td>{{i.collector.user.username}}</td>
                <td>{{i.collector.user.email}}</td>
                <td>{{i.collector.area.area_name}}</td>
                <td>{{i.houses.house_name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td class="p-3"><img (click)="onDelete(i.id)" src="https://img.icons8.com/material-sharp/24/E74C3C/trash.png"/></td>
            </tr>
        </tbody>
    </table>
</div>
