
<app-sidebar></app-sidebar>

<div class="container">
    <div class="historyhead">
        <div><h3 class="m-3"><b>Collector History</b></h3></div>
        <div>
            <button type="button" (click)="onDownload()" class="btn btn-secondary mx-3">Download File</button>
            <button type="button" (click)="onClearAll()" class="btn btn-danger">Clear all History </button>
        </div>
    </div>
    <!-- <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 amber-border" type="text" placeholder=" Search" aria-label="Search">
        <div class="input-group-append">
            <span class="input-group-text amber lighten-3" id="basic-text1">
                <i class="fas fa-search text-amber" aria-hidden="true"></i>
            </span>
        </div>
    </div> -->
    <!-- <div class="form-outline datepicker">
        <input type="text" data-provide="datepicker" class="form-control" id="exampleDatepicker11" />
        <label for="exampleDatepicker11" class="form-label">Select a date</label>
    </div> -->
    <div class="md-form md-outline input-with-post-icon datepicker" id="customDays">
        <input placeholder="Select date" type="text" id="Customization" class="form-control">
        <label for="Customization">Try me...</label>
        <i class="fas fa-calendar input-prefix" tabindex=0></i>
    </div>
    <script type="text/javascript">$('.datepicker').datepicker({
        weekdaysShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        showMonthsShort: true
      })</script>
    
    <table class="table table-hover">
        <thead>
            <th>User ID</th>
            <th>UserName</th>
            <th>Email ID</th>
            <th>Area</th>
            <th>Houses Cleaned</th>
            <th>Date</th>
            <th>Time</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let i of act">
                <td>{{i.collector.id}}</td>
                <td>{{i.collector.user.username}}</td>
                <td>{{i.collector.user.email}}</td>
                <td>{{i.collector.area.area_name}}</td>
                <td>{{i.houses.house_name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td class="p-3"><img (click)="onDelete(i.id)" src="https://img.icons8.com/material-sharp/24/E74C3C/trash.png"/></td>
            </tr>
        </tbody>
    </table>
</div>
