<body>
    <div class="form-group">
        <h2 style=" text-align:center; font-size: 50px; font-weight: bold;">login Here</h2>

          <div class="form-floating pt-3 mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
        
        <!-- <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Username</label>
            <input type="text" name="username" class="form-control" />   
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password</label>
            <input type="password" name="password" class="form-control" />  
        </div> -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

        <div class="text-center">
            <p>Not a member? <a routerLink="/register">Register</a></p>
        </div>
    </div>
    
</body>
