<table class="table table-hover">
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Area</th>
        <th>Houses</th>
    </tr>
    <tr>
        <td>{{usr.user.id}}</td>
        <td>{{usr.user.username}}</td>
        <td>{{usr.user.email}}</td>
        <td>{{usr.area.area_name}}</td>

        <td>
            <form [formGroup]="form" (ngSubmit)="onUpdate()" novalidate>
                <div class="houses">
                    <span *ngFor="let house of houses">
                        <div class="form-check" *ngIf=" house.is_completed === 'Not Completed' ">
                            <input class="form-check-input" name = "houses" type="checkbox" value="{{house.house_name}}" (change)="onCheckboxChange($event)" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{house.house_name}}

                            </label>                            
                        </div>

                            <div class="form-check" *ngIf=" house.is_completed === 'Completed' ">
                                <input class="form-check-input" name = "houses" type="checkbox" value="{{house.house_name}}" id="flexCheckDefault" required  disabled checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    {{house.house_name}}
                                </label><br>
                            </div>
                    </span>
                </div>
                <!-- <p class="error" *ngIf="this.form.controls['checkArray'].errors?.['required']">
                    Checkbox is required, select atleast one value.
                </p> -->
                <input type="submit"  name = "job" value="Completed">
            </form>
            
        
        </td>
        
    </tr>
           
</table>



