<app-sidebar></app-sidebar>


<div class="editor">

        <div class="container text-center">
            <div class="row">
              <div class="col pt-5">
                <img src="https://img.icons8.com/external-sbts2018-flat-sbts2018/250/000000/external-user-ecommerce-basic-1-sbts2018-flat-sbts2018.png"/>
                <br>
                <br>
                <h2>{{person.user.username}}</h2>
              </div>
              <div class="col">
                <h3>Profile Details</h3>
                <hr> 
                <p>
                    UserName     :  {{person.user.username}}<br>
                    Email ID     :  {{person.user.email}}<br>
                    Phone Number :  820-885-3321<br>
                    Job Title    :  {{role}}<br>
                    Location     :  {{person.area.area_name}}<br>
                </p>
              </div>
              <div class="col">
                <h3>Grant Permissions</h3>
                <hr>
                <div class="form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="flexSwitchCheckReverse">Grant Admin Access:</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse"  (change)="changeCollectorRole()" [(ngModel)]="toggleAdmin">
                    
                </div>
                
                <!-- <h5>Switch ON so,that {{person.user.username}} can be Collector: </h5> -->
                <div class="form-check form-switch form-check-reverse">
                    <label class="form-check-label" for="flexSwitchCheckReverse">Currently Working:</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse"  (change)="changeCollectorRole()" [(ngModel)]="toggleCollector">
                    
                </div>
              </div>
            </div>
          </div>

</div>
