<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link rel="stylesheet" href="istyle.css"/> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .next {
        text-decoration: none;
        display: inline-block;
        padding: 15px 30px;
        font-size: 20px;
        margin: 10px;
      }

      .next:hover {
        background-color: #ddd;
        color: black;
      }
      .next {
        background-color: #2d76d4;
        color: white;
      }
    </style>
          





</head>
<body>
  <div class="w3-bar w3-border w3-blue">
    <h1 class="w3-xxxlarge" , style="text-align: center;">Fill out the form </h1><br>
  </div>
  <br>
  <br>
    <div class="container">
        <form  action = "{% url 'signup' %}" method="post" enctype="multipart/form-data"> 
          {% csrf_token %}
          {{form.as_p}}
          <!-- <button class="button"><span><a href="./marks.html" class="next button">Next </a></span></button> -->
          <input class="next" type="submit">
        </form>
    </div>
    
</body>
</html>