<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <style>
       
        .center {
          top: 0;
          margin: auto;
          width: 75%;
          padding: 100px;
        } 

        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
          background-color: rgba(0, 174, 255, 0.507);
        }
    </style>
</head>
<body>
    <div class="center">
        <h1 style="color: rgb(183, 43, 226); font-size: 1000%;">Thank you!</h1>
        <h1>Your response has been recorded.</h1>
        <br>
        <br>
        <br>

        <form>
            <a href="{% url 'home' %}">Go Back to Home Page</a>
            
          </form>
    </body>
    </div>
    
</html>