{% extends "supply/dashboardman.html"  %}

{% block content %}

<form  method="post">

    <div class="back">
        <div class="center">
            <h1>Product From</h1>
            <hr>
            <br>
            <label for="pname"><b>Product Name</b></label>
            <input type="text" id="pname" name="pname" placeholder="Product name"><br>
    
            <label for="cost"><b>Product Cost</b></label>
            <input type="text" id="cost" name="cost" placeholder="product cost"><br>
    
            <label for="quantity"> <b>Quantity</b></label>
            <input type="number" id="quantity" name="quantity" placeholder="Eg:10"><br>
    
            <label for="image"><b>Product Image:</b> </label>
            <input type="file" id="image" name="image"><br>
    
            <br>
    
            <label for="desc"><b>Description</b></label>
            <textarea rows="4" cols="30" name="desc" placeholder="Description..."></textarea><br>
    
            <button type="submit" class="btn">Submit</button>
        </div>
    </div>
</form>

{% endblock %}