<app-sidebar></app-sidebar>

<div class="container">
    <div class="arealist">
        <div><h2><b>Area Analysis</b></h2> </div>
        <div>
            <!-- <a href="#"  data-bs-toggle="tooltip" data-bs-placement="right" title="RESET">
                <span class="mx-3"><img src="https://img.icons8.com/fluency/36/000000/available-updates.png"/></span> 
            </a> -->
            <button type="button" (click)="onReset()" class="btn btn-outline-primary">RESET</button>
        </div>
        
    </div>
   
    <div class="area">
        <table class="table">
            <thead class="table-dark">
                <th>Area ID</th>
                <th>Area Name</th>
                <th>House Names</th>
                <th>Address</th>
                <th>Garbage collection status</th>
            </thead>
            <tbody>
                <tr *ngFor="let ar of arealist">
                    <!-- <td [rowspan]="ar==="area"?"area.rowspan":1></td> -->
                    <td rowspan=" this.housenumber[area.area_name] ">{{ar.id}}</td>
                    <td rowspan=" this.housenumber[area.area_name] ">{{ar.area_name}}</td>

                    <!-- <div *ngFor="let house of houselist">
                        <td *ngIf="ar.id == house.area">{{house.house_name}}</td>
                        <td *ngIf="ar.id == house.area">{{house.house_address}}</td>
                        <td *ngIf="ar.id == house.area">{{house.is_completed}}</td>
                    </div> -->

                    <td>
                        <span *ngFor="let house of houselist">
                            <span *ngIf="ar.id == house.area">{{house.house_name}}<br></span>
                        </span>
                    </td>

                    <td>
                        <span *ngFor="let house of houselist">
                            <span *ngIf="ar.id == house.area">{{house.house_address}}<br></span>
                        </span>
                    </td>

                    <td>
                        <span *ngFor="let house of houselist">
                            <span *ngIf="ar.id == house.area">{{house.is_completed}}<br></span>
                        </span>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>
</div>