// @media (min-width: 1025px) {
//     .h-custom {
//     height: 100vh !important;
//     }
// }

.container{
    margin-left: 8%;
}

h2{
    font-size: 28px;
}

.area{
    margin: auto;
    // padding: 2%;
    width: 100%;
}

a{
    img{
        float: right;
    }
}
.table-dark, .table-dark>td, .table-dark>th {
     background-color: black;
}

// table, th, td {
//     border: 1px solid black;
//     border-collapse: collapse;
//     padding: 6px;
// } 

.arealist{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}