.py-5{
    margin-top: 6.5%;
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    
}

.row {
    --bs-gutter-x: 4rem !important;
}

// .container{
//     margin-left: 7%;
// }

element.style {
    // background-color: #eee;
    margin-left: 20% ;
}
.profile{
    margin-left: 7%;
}