<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }

        a:hover, a:active {
        background-color: rgb(60, 0, 255);
        }
        .center{
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="center">
        <a href="{% url 'index' %}" >Index</a>
        <a href="{% url 'forms' %}" >Form</a>
    </div>
</body>
</html>