
<app-sidebar></app-sidebar>
<div class="container">
    
    
    <form>
      <div class="arearegister">

        <h2>Area/House Registration</h2>
        <hr>

        <div class="input-group mt-4 mb-3 input-group-lg">
          <label class="input-group-text" for="inputGroupSelect01">Area Name</label>
        
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type Area Name...">
          <datalist id="datalistOptions">
            <option value="{{area.area_name}}" *ngFor="let area of areasData">{{area.area_name}}</option>
            
          </datalist>
        </div>
  
        <div class="input-group mb-3 input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">House Name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
  
        <div class="input-group mb-3 input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg">House Address</span>
          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button class="btn btn-primary btn-lg" id="btn-primary">Submit</button>
      </div>
    </form>
</div>