body{
    background-image: url("https://cdn.cdnparenting.com/articles/2019/02/14193616/1181338459-H.webp") !important;
    // background-image: url("/image/tree.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 700px;
    // background-color: blanchedalmond;
    min-height: 700px;   
}
.container{
    min-height: 100%;
    
}