body{
    //background-image: url("https://cdn.cdnparenting.com/articles/2019/02/14193616/1181338459-H.webp") !important;
    // background-image: url("/image/tree.jpg");
    //background-repeat: no-repeat;
    //background-size: 1600px 700px;
    // background-color: blanchedalmond;
    

    h1{
        font-size: 50px;
        font-weight:bold;
        text-align: center;
        margin-top: 15%; ;
        
    }
}
.container{
    min-height: 100%;

   
    
}