.navbar{
    padding-left: 0.5rem; 
    font-size: 18px; 
}


.container {
    margin: 0;
    padding: 0;
    min-width: 100%;
    margin-top: 7% ;
    
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
}

.navbar-dark .navbar-brand{
    color: black;
}
