<div>
  <nav  class="navbar navbar-expand navbar-dark bg-warning bg-gradient">
    <a href="#" class="navbar-brand" [ngStyle] = "{'color': 'black' }">SBA</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link">HOME</a>
      </li>
      <li class="nav-item">
        <a routerLink="login" class="nav-link" *ngIf = "!auth.loggedIn()">LOGIN</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" *ngIf = "auth.loggedIn()">{{auth.username()}}</a>
      </li>
    </div>
    <div class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a routerLink="login" class="nav-link" *ngIf = "auth.loggedIn()" (click) = 'logout()'>LOGOUT</a>
      </li>
    </div>
  </nav>
  <div class="container ">
    <router-outlet></router-outlet>
  </div>
</div>