.navbar{
    padding-left: 0.5rem;
    opacity: 0;
    
}


.container {
    margin: 0;
    padding: 0;
    min-width: 100%;
    
}
.navbar-dark .navbar-nav .nav-link{
    color: black;
}

.navbar-dark .navbar-brand{
    color: black;
}
