<app-sidebar></app-sidebar>

<div class="container">
    
    <h1> Welcome <b>{{this.admin.user.username}}</b></h1>
    <h4>you have Successfully Logged in has Admin!</h4>
    <br>
    <h5><b>Operstion you can perform here are:</b></h5>
    <ul>
      <li>Giving Admin permission to others(collectors) - <b>Admin permissions</b></li>
      <li>View your profile - <b>My Profile</b></li>
      <li>You can register Areas and Houses - <b>Area Registration</b></li>
      <li>You can view List of all Areas and Houses - <b>Area Analysis</b></li>
      <li>You can View,Delete 🗑 and Download History of Collector's Work - <b>Activity Log</b></li>
    </ul>
</div>