<app-sidebar></app-sidebar>

<div class="container">
    
    <h1> Welcome <b>{{this.admin.user.username}}</b></h1>
    <h4>you have Successfully Logged in has Admin!</h4>
    <br>
    <h5><b>Operstion you can perform here are:</b></h5>
    <ul>
      <li>Giving Admin permission to others(collectors) - <a routerLink="/permissions"><b>Admin permission</b></a></li>
      <li>View your profile - <a routerLink="/profile" ><b>My Profile</b></a></li>
      <li>You can register Areas and Houses - <a routerLink="/arearegister"> <b>Area Registration</b></a></li>
      <li>You can view List of all Areas and Houses - <a routerLink="/arealist"><b>Area Analysis</b></a> </li>
      <li>You can View,Delete 🗑 and Download History of Collector's Work - <a routerLink="/history"> <b>Activity Log</b></a></li>
    </ul>
</div>