<app-sidebar></app-sidebar>

<div class="container">
    
    <h2 class="mb-3">Administration Details</h2>
    <table class="table table-hover">
        <thead class="table-warning">
            <th>User ID</th>
            <th>User Name</th>
            <th>Job Title</th>
            <th>Area Name</th>
            <th>House Names</th>
            <th>Completed Houses</th>
            <th>Edit</th>
        </thead>

        <tbody>
            <tr *ngFor="let collector of collectors">
                <td>{{collector.user.id}}</td>
                <td>{{collector.user.username}}</td>
                <td>
                    <span *ngIf="collector.is_real === true">
                        <span>{{collector.is_admin === true ? "Admin" : "Collector"}} </span>
                    </span>
                    <span>{{collector.is_real === true ? "" : "Not Authenticated"}} </span>
                </td>
                <td>{{collector.area.area_name}}</td>
                <td>

                    <span *ngFor="let house of houselist">
                        <span *ngIf="collector.area.id === house.area">
                            {{house.house_name}}<br>
                        </span>
                    </span>
                </td>
                <td>
                    <!-- <span *ngFor="let house of houselist">
                        <span>{{house.collector === collector.id ? house.house_name : ""}} </span>
                    </span><br> -->
                    <span *ngFor="let house of houselist">
                        <span *ngIf="house.collector === collector.id">
                            {{house.house_name}}<br>
                        </span>
                    </span>
                </td>
                <td>
                    <a routerLink="/edit/{{collector.user.id}}">View more</a>
                    
                </td>
                

            </tr>
        </tbody>
    </table>
   

</div>