<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto bg-dark">
            <div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
                <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                    <i class='fas fa-home' style='font-size:36px'></i>
                </a>
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                    <li class="nav-item">
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <i class='fas fa-pen-alt' style='font-size:36px'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                            <i class='fas fa-user-tie' style='font-size:36px'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                            <i class='fas fa-map-marked-alt' style='font-size:36px'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                            <i class='fas fa-map-marker-alt' style='font-size:36px'></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                            <i class="bi-people fs-1"></i>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div> -->

        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
            <ul class="nav flex-column text-white w-100">
              <a routerLink="/admin" class="nav-link h3 text-white md-2 mt-3" data-bs-toggle="tooltip" placement="right" ngbTooltip="Dashboard">
                <span class="mx-3"><img src="https://img.icons8.com/material-rounded/30/000000/dashboard-layout.png"/></span>
              </a>
              <li>
                <a href="/permissions" class="nav-link" data-bs-toggle="tooltip" placement="right" ngbTooltip="Admin Permissions ">
                    <span class="mx-3"><img src="https://img.icons8.com/external-itim2101-lineal-itim2101/35/000000/external-check-list-human-resources-itim2101-lineal-itim2101.png"/></span>
                </a>
                
              </li>
              <li>
                <a  routerLink="/profile" class="nav-link" data-bs-toggle="tooltip" placement="right"  ngbTooltip="My Profile">
                    <span class="mx-2"><img src="https://img.icons8.com/pastel-glyph/50/000000/person-male--v1.png"/></span>
                </a>
                
              </li>
              <li>
                <a routerLink="/arearegister" class="nav-link" data-bs-toggle="tooltip" placement="right" ngbTooltip="Area Registration">
                    <span class="mx-2"><img src="https://img.icons8.com/dotty/43/000000/map-editing.png"/></span>
                </a>  
              </li>
              <li>
                <a routerLink="/arealist" class="nav-link" data-bs-toggle="tooltip" placement="right" ngbTooltip="Area Analysis">
                    <span class="mx-2"> <img src="https://img.icons8.com/external-creatype-two-colour-colourcreatype/40/000000/external-location-maps-and-navigation-creatype-two-colour-colourcreatype-5.png"/></span>
                </a>
              </li>

              <li>
                <a routerLink="/history"  class="nav-link" data-bs-toggle="tooltip" placement="right" ngbTooltip="Activity Log">
                    <span class="mx-3"><img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/38/000000/external-history-date-and-time-tanah-basah-basic-outline-tanah-basah.png"/></span>
                </a>
              </li>
              <li>
                <a routerLink="/piechart"  class="nav-link" data-bs-toggle="tooltip" placement="right" ngbTooltip="Pie-Chart">
                    <span class="mx-2"><img src="https://img.icons8.com/pastel-glyph/46/000000/pie-chart--v1.png"/></span>
                </a>
              </li>
            </ul>
        </div>
<!-- <router-outlet></router-outlet>  -->
