/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/scss/bootstrap";

// Functions first
@import "~bootstrap/scss/functions";
// MDB SCSS
// @import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

html{
    min-height: 700px;
    margin: 0;
    --bs-body-line-height: 2.5 !important;

    body {
        min-height: 450px;
    }
}

